{% extends "newbase.html" %}
{% block content %}
{% load static %}
	<table id="actualTable" class="table table-hover">
		<tbody>
        {% for testCase in testCasesList %}
        <tr><td><div style="text-align:center">{{ testCase.version }}</div></td>
        <td><div style="text-align:center">{{ testCase.testName }}</div></td>
        <td><div style="text-align:center">{{ testCase.current }}</div></td></tr>
        {% endfor %}
		</tbody>
	</table>
<script type="text/javascript">
$(document).ready(function(){
    $('#testCaseTable').DataTable();
    $('#testCaseTable').fadeIn(1000);
});
</script>
{% endblock%}