{% extends "newbase.html" %}
{% block content %}
{% load static %}
	<table id="testCaseTable" class="table table-hover">
		<thead>
			<tr>
			</tr>
            <tr>
                <th><div style="text-align:center">Test Id</div></th>
                <th><div style="text-align:center">Component</div></th>
				<th><div style="text-align:center">Test Group</div></th>
                <th><div style="text-align:center">System Requirement</div></th>
                <th><div style="text-align:center">Test Name</div></th>
                <th><div style="text-align:center">Test Engineer</div></th>
                <th><div style="text-align:center">Implemented By</div></th>
                <th><div style="text-align:center">Status</div></th>
            </tr>
		</thead>
		<tbody>
		{% for testCase in testCasesList %}
			<tr>
				<td><div style="text-align:center"><a href="/newcat/testcase/{{ testCase.id }}">{{ testCase.id }}</a></div></td>
                <td><div style="text-align:center"><a href="/newcat/component/{{ testCase.component }}">{{ testCase.component|truncatechars:30 }}</a></div></td>
				<td><div style="text-align:center"><a href="/newcat/group/{{ testCase.testGroup }}">{{ testCase.testGroup|truncatechars:30 }}</a></div></td>
				<td><div style="text-align:center"><a href="/newcat/requirement/{{ testCase.systemRequirement.sysReq_MKS }}">{{ testCase.systemRequirement|truncatechars:30 }}</a></div></td>
				<td><div style="text-align:center">{{ testCase.testName|truncatechars:30 }}</div></td>
				<td><div style="text-align:center">{{ testCase.testEngineer|truncatechars:30 }}</div></td>
				<td><div style="text-align:center">{{ testCase.implementedBy|truncatechars:30 }}</div></td>
				<td><div style="text-align:center"><a href="/newcat/status/{{ testCase.status }}">{{ testCase.status |truncatechars:30}}</a></div></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
<script type="text/javascript">
$(document).ready(function(){
    $('#testCaseTable').DataTable();
    $('#testCaseTable').fadeIn(1000);
});
</script>
{% endblock%}