{% extends "newbase.html" %}
{% block content %}
{% load static %}
	<table id="testCaseTable" class="table table-hover">
		<thead>
			<tr>
			</tr>
            <tr>
                <th><div style="text-align:center">Test Id</div></th>
                <th><div style="text-align:center">Component</div></th>
				<th><div style="text-align:center">Test Group</div></th>
                <th><div style="text-align:center">System Requirement</div></th>
                <th><div style="text-align:center">Test Name</div></th>
                <th><div style="text-align:center">Test Engineer</div></th>
                <th><div style="text-align:center">Implemented By</div></th>
                <th><div style="text-align:center">Status</div></th>
            </tr>
		</thead>
		<tbody>
		{% for testCase in testCasesList %}
			<tr>
				<td><div style="text-align:center"><a href="http://localhost:8000/newcat/testcase/{{ testCase.id }}">{{ testCase.id }}</a></div></td>
                <td><div style="text-align:center"><a href="http://localhost:8000/newcat/component/{{ testCase.component }}">{{ testCase.component }}</a></div></td>
				<td><div style="text-align:center"><a href="http://localhost:8000/newcat/group/{{ testCase.testGroup }}">{{ testCase.testGroup }}</a></div></td>
				<td><div style="text-align:center"><a href="http://localhost:8000/newcat/requirement/{{ testCase.systemRequirement.sysReq_MKS }}">{{ testCase.systemRequirement }}</a></div></td>
				<td><div style="text-align:center">{{ testCase.testName }}</div></td>
				<td><div style="text-align:center">{{ testCase.testEngineer }}</div></td>
				<td><div style="text-align:center">{{ testCase.implementedBy }}</div></td>
				<td><div style="text-align:center"><a href="http://localhost:8000/newcat/status/{{ testCase.status }}">{{ testCase.status }}</a></div></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-default btn-sm" href="http://localhost:8000/newcat/requirement/{{ systemRequirement }}/export/">Export List</a>
<script type="text/javascript">
$(document).ready(function(){
    $('#testCaseTable').DataTable();
    $('#testCaseTable').fadeIn(1000);
});
</script>
{% endblock%}