{% extends "base.html" %}
{% block content %}
{% load static %}
	<table id="testCaseTable" class="testList">
		<thead>
		<tr>
			<th><div class="tableCellFromList">Test Id</div></th>
			<th><div class="tableCellFromList">System Requirement</div></th>
			<th><div class="tableCellFromList">Test Name</div></th>
			<th><div class="tableCellFromList">Test Engineer</div></th>
			<th><div class="tableCellFromList">Implemented By</div></th>
			<th><div class="tableCellFromList">Status</div></th>
		</tr>
		<tr>
		  	<th><input class="tableQuery" type="text" id="idInput" onkeyup="searchFunction('idInput', 0)" placeholder="Search..."></th>
			<th><input class="tableQuery" type="text" id="SRInput" onkeyup="searchFunction('SRInput', 1)" placeholder="Search..."></th>
		  	<th><input class="tableQuery" type="text" id="testNameInput" onkeyup="searchFunction('testNameInput', 2)" placeholder="Search..."></th>
		  	<th><input class="tableQuery" type="text" id="testEngineerInput" onkeyup="searchFunction('testEngineerInput', 3)" placeholder="Search..."></th>
		  	<th><input class="tableQuery" type="text" id="implementedByInput" onkeyup="searchFunction('implementedByInput', 4)" placeholder="Search..."></th>
		  	<th><input class="tableQuery" type="text" id="statusInput" onkeyup="searchFunction('statusInput', 5)" placeholder="Search..."></th>
		</tr>
		</thead>
		<tbody>
		{% for testCase in testCasesList %}
			<tr>
				<td><div class="tableCell"><a href="http://localhost:8000/newcat/testcase/{{ testCase.id }}">{{ testCase.id }}</a></div></td>
				<td><div class="tableCell"><a href="http://localhost:8000/newcat/requirement/{{ testCase.systemRequirement.sysReq_MKS }}">{{ testCase.systemRequirement }}</a></div></td>
				<td><div class="tableCell">{{ testCase.testName }}</div></td>
				<td><div class="tableCell">{{ testCase.testEngineer }}</div></td>
				<td><div class="tableCell">{{ testCase.implementedBy }}</div></td>
				<td><div class="tableCell"><a href="http://localhost:8000/newcat/status/{{ testCase.status }}">{{ testCase.status }}</a></div></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock%}