{% extends "newbase.html" %}
{% block content %}
{% load static %}
	<table id="actualTable" class="table table-hover">
		<thead>
            <tr>
                <th><div>Reference</div></th>
                <th><div>Compared</div></th>
			  	<th><div>Version</div></th>
				<th><div>Current</div></th>
				<th><div>Change comment</div></th>
                <th><div>Changed by</div></th>
            </tr>
        </thead>
        <tbody>
        {% for version in versions %}
            <tr id="{{ version.version }}">
                <td><div><input type="radio" name="reference"></div></td>
                <td><div><input type="radio" name="compare"></div></td>
                <td><div>{{ version.version|wordwrap:12 }}</div></td>
                <td><div>{{ version.current|wordwrap:12}}</div></td>
                <td><div>{{ version.comment|wordwrap:12 }}</div></td>
                <td><div>{{ version.user|wordwrap:12 }}</div></td>
            </tr>
        {% endfor %}
		</tbody>
	</table>
    <a class="btn btn-default btn-sm" href="/newcat/testcase/{{ testCaseId }}">Return</a>
    <a class="btn btn-default btn-sm" onclick="compareTestCaseVersions()">Compare Selected</a>
<style>
    #actualTable .ui-selected { background: #F39814; color: white; }
</style>
<script type="text/javascript">
$(document).ready(function(){
    $('#actualTable td').each(function(){
        if ($(this).text() == 'True') {
            $(this).closest('tr').css('background-color','gold');
        }
    });
});
function compareTestCaseVersions(){
    var go = true;
    var referenceTestCaseVersion = $('input[name="reference"]:checked').closest('tr').attr('id');
    if (referenceTestCaseVersion === undefined){
        alert("You should choose reference version!");
        go = false;
        }
    var comparedTestCaseVersion = $('input[name="compare"]:checked').closest('tr').attr('id');
    if (comparedTestCaseVersion === undefined && go){
        alert("You should choose version to compare!");
        go = false;
        }
    if(referenceTestCaseVersion === comparedTestCaseVersion && go){
        alert("You shouldn't compare the same versions!");
        go = false;
        }
    if(go)
        window.location.href = "/newcat/testcase/"+ {{ testCaseId }} + "/history/compare/" + referenceTestCaseVersion + "/" + comparedTestCaseVersion;
}
</script>
{% endblock%}