{% extends "newbase.html" %}
{% block content %}
{% load static %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<div class="container">
			<h1>Here you can create new test case</h1>
			<form action="/newcat/create/" method="post" id="createTestCaseForm">{% csrf_token %}
				<table class="table table-condensed">
					<tr>
							{% load widget_tweaks %}
						{{ testCaseForm.management_form }}
						<td><div>
							<label>Test Group:</label>
							{% render_field testCaseForm.testGroup class+="form-control" %}
							<button type="button" onclick='$("#createNewGroup").show()'>Create New</button></div></td>
						<td><div>
							<label>System Requirement:</label>
							{% render_field testCaseForm.systemRequirement class+="form-control" %}
							<button type="button" onclick='$("#createNewSystemRequirement").show()'>Create New</button></div></td>
                        <td><div>
							<label>Tested Component:</label>
							{% render_field testCaseForm.component class+="form-control" %}
							<button type="button" onclick='$("#createNewComponent").show()'>Create New</button></div></td>
						<td><div>
							<label>Tested Functionality:</label>
							{% render_field testCaseForm.testedFunctionality class+="form-control" %}</div></td>
					</tr>
					<tr>
						<td><div>
							<label>Test Engineer:</label>
							{% render_field testCaseForm.testEngineer class+="form-control" %}</div></td>
						<td><div>
							<label>Implemented By:</label>
							{% render_field testCaseForm.implementedBy class+="form-control" %}</div></td>
                    <td><div>
							<label>Number of Cases:</label>
							{% render_field testCaseForm.numberOfCases class+="form-control" %}</div></td>
                </table>
				<button type="submit" class="btn btn-info" name="testCaseSubmit">Submit</button>
				<button type="reset" class="btn btn-info">Reset</button>
				<a class="btn btn-info" href="http://localhost:8000/newcat/testcase/">Cancel</a>
			</form>
			<form action="/newcat/create/" method="post" id="createNewGroup" hidden="True">{% csrf_token %}
                <label>New Group Name:</label>
                {% render_field testGroupForm.testGroupName class+="form-control" %}
                <button type="submit" class="btn btn-info" name="testGroupSubmit">Submit</button>
            </form>
            <form action="/newcat/create/" method="post" id="createNewSystemRequirement" hidden="True">{% csrf_token %}
					<label>MKS ID:</label>
					{% render_field systemRequirementForm.sysReq_MKS class+="form-control" %}
					<label>Title:</label>
					{% render_field systemRequirementForm.title class+="form-control" %}
                <button type="submit" class="btn btn-info" name="systemRequirementSubmit">Submit</button>
            </form>
            <form action="/newcat/create/" method="post" id="createNewComponent" hidden="True">{% csrf_token %}
					<label>Component Name:</label>
					{% render_field componentForm.componentName class+="form-control" %}
                <button type="submit" class="btn btn-info" name="componentSubmit">Submit</button>
            </form>
		</div>
<script type="text/javascript">
$(document).ready(function() {
    $(window).unload(saveSettings);
    loadSettings();
    {% if newTestGroup %}
    document.getElementById('id_testCase-testGroup').selectedIndex = document.getElementById('id_testCase-testGroup').options.length-1;
    {% endif %}
    {% if newSystemRequirement %}
    document.getElementById('id_testCase-systemRequirement').selectedIndex = document.getElementById('id_testCase-systemRequirement').options.length-1;
    {% endif %}
    {% if newComponent %}
    document.getElementById('id_testCase-component').selectedIndex = document.getElementById('id_testCase-component').options.length-1;
    {% endif %}
});
</script>
{% endblock %}