{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container">
	<h1>Here you can create new test case</h1>
	<form action="/newcat/testcase/{{ testCaseId }}/edit/steps/" method="post">{% csrf_token %}
		<table class="testList">
            {% load widget_tweaks %}
            {{ formset.management_form }}
            {% for form in formset %}
                <tr>
                    <td><div class="tableCell">
                        <label>Test Steps:</label>
                        {{ form }}
                        </div></td>
                </tr>
            {% endfor %}
		</table>
		<button type="submit" class="btn btn-info">Submit</button>
        <button type="reset" class="btn btn-info">Reset</button>
        <button type="button" class="btn btn-info"><a href="http://localhost:8000/newcat/testcase/{{ testCaseId }}/">Cancel</a></button>
	</form>
</div>
{% endblock %}

