{% extends "newbase.html" %}
{% block content %}
{% load static %}
	<table id="testCase" class="table table-condensed">
		<thead>
        <tr><h3><label>Tested Component:</label> {{ testCase.component}}</h3></tr>
			<tr>
			  	<th><div>Id</div></th>
				<th><div>Test Name</div></th>
				<th><div>Test Group</div></th>
				<th><div>System Requirement</div></th>
                </tr>
		</thead>
		<tbody>
		<tr>
			<td><div>{{ testCase.id }}</div></td>
			<td><div>{{ testCase.testName }}</div></td>
			<td><div>{{ testCase.testGroup }}</div></td>
			<td><div>{{ testCase.systemRequirement }}</div></td>
        </tr>
        </tbody>
        <thead><tr>
			  	<th>Tested Functionality</th>
			  	<th>Test Engineer</th>
			    <th>Implemented By</th>
				<th>Status</th>
            </tr></thead><tbody><tr>
			<td><div>{{ testCase.testedFunctionality }}</div></td>
			<td><div>{{ testCase.testEngineer }}</div></td>
			<td><div>{{ testCase.implementedBy }}</div></td>
			<td><div>{{ testCase.status }}</div></td>
		</tr>
		</tbody>
	</table>
	<table id="testSteps" class="table table-condensed">
		<thead>
				<tr>
					<th>Test Situation:</th>
					<th>Test Steps:</th>
				</tr>
		</thead>
		<tbody>
			<tr>
				<td rowspan="{{ testStepsList|length }}"><div class="tableCell">{{ testCase.testSituation }}</div></td>
				{% for testStep in testStepsList %}
				<td><div class="tableCell">{{ testStep.stepOrder }}. {{ testStep.instruction }}</div></td></tr><tr>
			    {% endfor %}
			</tr>
		</tbody>
	</table>
	<table id="expectedResults" class="table table-condensed">
		<thead>
				<tr>
					<th>Assert Type:</th>
					<th>Expected Result:</th>
				</tr>
		</thead>
		<tbody>
			{% for expectedResult in expectedResultsList reversed %}
			<tr>
				<td><div class="tableCell">{{ expectedResult.assertType }}</div></td>
				<td><div class="tableCell">{{ expectedResult.expectedResult }}</div></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
    <nav>
        <a class="btn btn-default btn-sm" href="http://localhost:8000/newcat/testcase/{{ testCase.id }}/edit">Edit Case</a>
        <a class="btn btn-default btn-sm" href="http://localhost:8000/newcat/testcase/{{ testCase.id }}/edit/steps">Edit Steps</a>
        <a class="btn btn-default btn-sm" href="http://localhost:8000/newcat/testcase/{{ testCase.id }}/edit/assertions">Edit Assertions</a>
		<a class="btn btn-default btn-sm" href="http://localhost:8000/newcat/testcase/{{ testCase.id }}/history/">History</a>
    </nav>
{% endblock %}

