{% extends "base.html" %}
{% block content %}
{% load static %}
	<table id="testCase" class="testList">
		<thead>
			<tr>
			  	<th>Id</th>
			  	<th>Test Name</th>
			  	<th>Test Group</th>
				<th>System Requirement</th>
			  	<th>Tested Functionality</th>
			  	<th>Test Engineer</th>
			    <th>Implemented By</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td><div class="tableCell">{{ testCase.id }}</div></td>
			<td><div class="tableCell">{{ testCase.testName }}</div></td>
			<td><div class="tableCell">{{ testCase.testGroup }}</div></td>
			<td><div class="tableCell">{{ testCase.systemRequirement }}</div></td>
			<td><div class="tableCell">{{ testCase.testedFunctionality }}</div></td>
			<td><div class="tableCell">{{ testCase.testEngineer }}</div></td>
			<td><div class="tableCell">{{ testCase.implementedBy }}</div></td>
			<td><div class="tableCell">{{ testCase.status }}</div></td>
		</tr>
		</tbody>
	</table>
	<table id="testSteps" class="testList">
		<thead>
				<tr>
					<th>Test Situation:</th>
					<th>Test Steps:</th>
				</tr>
		</thead>
		<tbody>
			{% for testStep in testStepsList %}
			<tr>
				<td><div>{{ testCase.testSituation }}</div></td>
				<td><div class="tableCell">{{ testStep.instruction }}</div></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<table id="expectedResults">
		<thead>
				<tr>
					<th>Assert Type:</th>
					<th>Expected Result:</th>
				</tr>
		</thead>
		<tbody>
			{% for expectedResult in expectedResultsList %}
			<tr>
				<td><div class="tableCell">{{ expectedResult.assertType }}</div></td>
				<td><div class="tableCell">{{ expectedResult.expectedResult }}</div></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<button><a href="http://localhost:8000/newcat/testcase/{{ testCase.id }}/edit">Edit Case</a> </button>
	<button><a href="http://localhost:8000/newcat/testcase/{{ testCase.id }}/edit/steps">Edit Steps</a> </button>
	<button><a href="http://localhost:8000/newcat/testcase/{{ testCase.id }}/edit/assertions">Edit Assertions</a> </button>
{% endblock %}

