{% extends "newbase.html" %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<div class="container">
			<h1>Warning: If all fields for a given test case aren't filled, it won't be saved!</h1>
			<form action="/newcat/create/save/" method="post" id="createTestCaseLateForm">{% csrf_token %}
                <table class="table table-condensed">
                    {{ formset.management_form }}
                    {% for form in formset %}
                    {% render_field form.comment class+="form-control hidden" value+="Test case created."%}
                    {% render_field form.testGroup class+="form-control hidden" %}
                    {% render_field form.systemRequirement class+="form-control hidden" %}
                    {% render_field form.component class+="form-control hidden" %}
                    {% render_field form.testedFunctionality class+="form-control hidden" %}
                    {% render_field form.testEngineer class+="form-control hidden" %}
                    {% render_field form.implementedBy class+="form-control hidden" %}
                    <tr>
                    <td><label>Test Name</label>
                        {% render_field form.testName class+="form-control" %}</td>
                    <td><label>Test Situation</label>
                        {% render_field form.testSituation class+="form-control" %}</td>
                    <td><label>Status</label>
                        {% render_field form.status class+="form-control" %}</td>
                    </tr>
                    {% endfor %}
                </table>
				<button type="submit" class="btn btn-info btn-sm">Submit</button>
				<button type="reset" class="btn btn-danger btn-sm">Reset</button>
				<a class="btn btn-danger btn-sm" href="/newcat/testcase/">Cancel</a>
                <a class="btn btn-danger btn-sm" href="/newcat/create/">Return</a><b>Note that you will loose all entered data!</b>
			</form>
		</div>
{% endblock %}