{% extends "base.html" %}
{% block content %}
{% load static %}
	<table id="baselineTable" cellspacing="0" cellpadding="0" width="50%" class="display">
		<thead>
		<tr>
		  <th>Id</th>
		  <th>System Requirement</th>
		  <th>Test Unit</th>
		  <th>Test Id</th>
		  <th>Implemented By</th>
		  <th>Filename</th>
		</tr>
		</thead>
		<tbody>
		{% for testCase in testCasesList %}
			<tr>
				<td><div class="tableCell"><a href="http://localhost:8000/oldcat/testcase/{{ testCase.id }}">{{ testCase.id }}</td>
				<td><div class="tableCell">{{ testCase.system_requirements }}</div></td>
				<td><div class="tableCell">{{ testCase.test_unit }}</div></td>
				<td><div class="tableCell">{{ testCase.test_id }}</div></td>
				<td><div class="tableCell">{{ testCase.implemented }}</div></td>
				<td><div class="tableCell">{{ testCase.filename }}</div></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock%}