{% extends "base.html" %}
{% block content %}
{% load static %}
	<table id="testCaseTable" class="testList">
		<thead>
		<tr>
		  <th>Id</th>
		  <th>System Requirement</th>
		  <th>Test Unit</th>
		  <th>Test Id</th>
		  <th>Implemented By</th>
		  <th>Filename</th>
		</tr>
		<tr>
		  <th><input class="tableQuery" type="text" id="idInput" onkeyup="searchFunction('idInput', 0)" placeholder="Search..."></th>
		  <th><input class="tableQuery" type="text" id="sysReqInput" onkeyup="searchFunction('sysReqInput', 1)" placeholder="Search..."></th>
		  <th><input class="tableQuery" type="text" id="testUnitInput" onkeyup="searchFunction('testUnitInput', 2)" placeholder="Search..."></th>
		  <th><input class="tableQuery" type="text" id="testIdInput" onkeyup="searchFunction('testIdInput', 3)" placeholder="Search..."></th>
		  <th><input class="tableQuery" type="text" id="implByInput" onkeyup="searchFunction('implByInput', 4)" placeholder="Search..."></th>
		  <th><input class="tableQuery" type="text" id="fileInput" onkeyup="searchFunction('fileInput', 5)" placeholder="Search..."></th>
		</tr>
		</thead>
		<tbody>
		{% for testCase in testCasesList %}
			<tr>
				<td><div class="tableCell"><a href="http://localhost:8000/oldcat/testcase/{{ testCase.id }}">{{ testCase.id }}</td>
				<td><div class="tableCell">{{ testCase.system_requirements }}</div></td>
				<td><div class="tableCell">{{ testCase.test_unit }}</div></td>
				<td><div class="tableCell">{{ testCase.test_id }}</div></td>
				<td><div class="tableCell">{{ testCase.implemented }}</div></td>
				<td><div class="tableCell">{{ testCase.filename }}</div></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock%}