{% extends "oldbase.html" %}
{% block content %}
{% load static %}
	<table id="testCaseTable" class="table table-hover">
		<thead>
            <tr>
                <th><div style="text-align:center">Test Id</div></th>
                <th><div style="text-align:center">System Requirement</div></th>
                <th><div style="text-align:center">Test Unit</div></th>
                <th><div style="text-align:center">Test Id</div></th>
                <th><div style="text-align:center">Implemented By</div></th>
                <th><div style="text-align:center">Filename</div></th>
            </tr>
		</thead>
		<tbody>
		{% for testCase in testCasesList %}
			<tr>
				<td><div style="text-align:center"><a href="/oldcat/testcase/{{ testCase.id }}">{{ testCase.id }}</a></div></td>
				<td><div style="text-align:center"><a href="/oldcat/requirement/{{ testCase.system_requirements }}">{{ testCase.system_requirements }}</a></div></td>
				<td><div style="text-align:center">{{ testCase.test_unit }}</div></td>
				<td><div style="text-align:center">{{ testCase.test_id }}</div></td>
				<td><div style="text-align:center">{{ testCase.implemented }}</div></td>
				<td><div style="text-align:center"><a href="/oldcat/filename/{{ testCase.filename }}">{{ testCase.filename }}</a></div></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
<script type="text/javascript">
$(document).ready(function(){
    $('#testCaseTable').DataTable();
    $('#testCaseTable').fadeIn(1000);
});
</script>
{% endblock%}