{% extends "oldbase.html" %}
{% block content %}
		<table id="testCase" class="table table-condensed">
            <tr>
                <th><label>Id</label></th>
                <th><label>Test Name</label></th>
                <th><label>Test Unit</label></th>
                <th><label>System Requirement</label></th>
            </tr>
            <tr>
                <td>{{ testCase.id }}</td>
                <td>{{ testCase.testName }}</td>
                <td>{{ testCase.testUnit }}</td>
                <td><a href="/oldcat/requirement/{{ testCase.system_requirements }}">{{ testCase.systemRequirement }}</a></td>
            </tr>
            <tr>
                <th><label>Additional Info</label></th>
                <th><label>Preconditions</label></th>
                <th><label>Implemented By</label></th>
                <th><label>Filename</label></th>
            </tr>
				<tr>
					<td>{{ testCase.additionalInfo }}</td>
					<td>{{ testCase.preconditions }}</td>
					<td>{{ testCase.implementedBy }}</td>
					<td><a href="/oldcat/filename/{{ testCase.filename }}">{{ testCase.filename }}</a></td>
				</tr>
		</table>
		<table id="testSteps" class="table table-condensed">
            <tr>
                <th><label>Test Case</label></th>
                <th><label>Test Situation</label></th>
                <th><label>Functional Steps</label></th>
            </tr>
			<tr>
				<td>{{ testCase.testCase }}</td>
				<td>{{ testCase.testSituation }}</td>
				<td>{{ testCase.functionalSteps|linebreaksbr }}</td>
            </tr></table>
        <table id="expectedResults" class="table table-condensed">
			<tr>
                <th><label>Expected Result</label></th>
            </tr>
            <tr>
				<td>{{ testCase.expectedResult|linebreaksbr }}</td>
			</tr>
		</table>
<a class="btn btn-info" href="/oldcat/testcase/{{ testCase.id }}/edit">Edit</a>
{% endblock %}