{% extends "oldbase.html" %}
{% block content %}
		<table id="testCase" class="table table-condensed">
            <tr>
                <th><label>Id</label></th>
                <th><label>Test Name</label></th>
                <th><label>Test Unit</label></th>
                <th><label>System Requirement</label></th>
            </tr>
            <tr>
                <td>{{ testCase.id }}</td>
                <td>{{ testCase.test_id }}</td>
                <td>{{ testCase.test_unit }}</td>
                <td><a href="http://localhost:8000/oldcat/requirement/{{ testCase.system_requirements }}">{{ testCase.system_requirements }}</a></td>
            </tr>
            <tr>
                <th><label>Additional Info</label></th>
                <th><label>Preconditions</label></th>
                <th><label>Implemented By</label></th>
                <th><label>Filename</label></th>
            </tr>
				<tr>
					<td>{{ testCase.additional_info }}</td>
					<td>{{ testCase.precondition }}</td>
					<td>{{ testCase.implemented }}</td>
					<td><a href="http://localhost:8000/oldcat/filename/{{ testCase.filename }}">{{ testCase.filename }}</a></td>
				</tr>
		</table>
		<table id="testSteps" class="table table-condensed">
            <tr>
                <th><label>Test Case</label></th>
                <th><label>Test Situation</label></th>
                <th><label>Functional Steps</label></th>
            </tr>
			<tr>
				<td>{{ testCase.test_case }}</td>
				<td>{{ testCase.test_situation }}</td>
				<td>{{ testCase.functional_steps|linenumbers|linebreaksbr }}</td>

            </tr></table>
        <table id="expectedResults" class="table table-condensed">
			<tr>
                <th><label>Expected Result</label></th>
            </tr>
            <tr>
				<td>{{ testCase.expected_result|linebreaksbr }}</td>
			</tr>
		</table>
{% endblock %}