{% extends "base.html" %}
{% block content %}
	<table id="testCase" class="testList">
		<thead>
			<tr>
			  <th>Id</th>
			  <th>System Requirement</th>
			  <th>Test Unit</th>
			  <th>Test Id</th>
			  <th>Implemented By</th>
			  <th>Filename</th>
			</tr>
		</thead>
		<tbody>
			<td><div class="tableCell">{{ testCase.id }}</div></td>
			<td><div class="tableCell">{{ testCase.system_requirements }}</div></td>
			<td><div class="tableCell">{{ testCase.test_unit }}</div></td>
			<td><div class="tableCell">{{ testCase.test_id }}</div></td>
			<td><div class="tableCell">{{ testCase.implemented }}</div></td>
			<td><div class="tableCell">{{ testCase.filename }}</div></td>
		</tbody>
	</table>
	<div class="testDetailsContainer">
		<div><p><b>Test Situation:</b></br>{{ testCase.test_situation }}</p></div>
		<div><p><b>Test Case:</b></br>{{ testCase.test_case }}</p></div>
		<div><p><b>Preconditions:</b></br>{{ testCase.precondition }}</p></div>
		<div><p><b>Functional Steps:</b></br>{{ testCase.functional_steps }}</p></div>
		<div><p><b>Additional Info:</b></br>{{ testCase.additional_info }}</p></div>
		<div><p><b>Expected Result:</b></br>{{ testCase.expected_result }}</p></div>
	</div>
{% endblock %}